<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('bootstrapcss') %>
        <title>Doubt in brief</title>

        <style>
            .top{
                margin-left: 3rem;
                margin-right: 3rem;
            }
            .cardd{
                width: 70% !important;
                padding: 1rem;
                margin: auto;
            }
            a{
                text-decoration: none;
                /* font-size: 3vh; */
                color: rgb(79, 63, 255);
            }
            a:hover{
                color: brown;
            }
            .ch{
                padding: 2rem;
                font-size: 3vh;
                background-color: rgb(102, 225, 200);
            }
            h6{
                font-style: italic;
                margin-top: 1rem; 
                margin-bottom: 1rem;
            }
            .ctitle{
                padding: 1rem;
                margin-bottom: 1rem;
                font-size: 4vh;
            }
          
        </style>
</head>

<body>
    <%- include('header') %>

        <div class="d-flex justify-content-center mt-3 ">
            <div class="card w-50 cardd">
                <div class="card-header ch">
                    <%= (doubt.category).charAt(0).toUpperCase() + (doubt.category).slice(1) %>
                </div>
                <div class="card-body">
                    <h6>Asked by: <%= (doubt.author.username).charAt(0).toUpperCase() + (doubt.author.username).slice(1) %>
                    </h6>
                    <h5 class="card-title">
                        <%= doubt.title %>
                    </h5>
                    <p class="card-text">
                        <%= doubt.summary %>
                    </p>
                    <p class="card-text">
                        <a href="<%= doubt.url %>" target="_blank"><%= doubt.url %></a>
                    </p>

                    <!-- Add answers to the question -->
                    <form action="/doubts/<%= doubt._id %> /answers" method="post">
                        <textarea class='form-control' name="content" rows="6" placeholder="Write you answer here..." required></textarea>
                        <div class="text-right d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary mt-2 py-2">Answer</button>
                        </div>
                    </form>
                    
                  
                        <div class="d-flex justify-content-start mt-3 mb-3">
                            <h3>Top answers....</h3> 
                         </div>
                   
                
                    <%doubt.answers.forEach(answer=> { %>
                        <p style="font-size: large;">
                           <b><%= ++answerCount %>:</b>  <%= answer.content %>
                        </p>
                        <% }) %>
                </div>
            </div>

        </div>


</body>

</html>