<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('bootstrapcss') %>
        <title>Profile Page</title>
</head>
<style>
    a{
        text-decoration: none;
    }
</style>
<body>
    <%- include('header') %>
        <br>
        <div class="container w-100">
            <div class="card py-3 px-3">
            <div class="align-items-center text-center w-50 mx-auto">
                <h3>  <%= (user.name ).charAt(0).toUpperCase() + (user.name ).slice(1) %> </h3>
            </div>
            <hr style="padding: 1rem;">
            <div class="container w-50 mx-auto">
                <!-- <h5>Username: <%= user.username %></h5> -->
                <h5>Doubts Asked:</h5>
            </div>

            <div class="px-3 py-3 d-flex flex-md-column align-items-center">
                <% doubts.forEach((doubt)=> { %>
                    <div class="card w-50 py-3 px-3">
                        <div class="card-header">
                            <!-- <a href="/r/< doubt.category >" target="_blank" rel="noopener noreferrer">< doubt.category ></a> -->
                            <a href="/doubts/edit/<%= doubt._id %> ">Edit</a> <span class="px-2">|</span>
                           
                            <a href="/doubts/delete/<%= doubt._id %> ">Delete</a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= doubt.title %>
                            </h5>
                            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                            <a href="/doubts/<%= doubt._id %>" class="">View..</a>
                        </div>
                    </div>
                    <br>
                    <% }); %>
            </div>
        </div>
        </div>


</body>

</html>